body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/*
=============== 
navigation
===============
*/
#navigation_list .logo{
    height: 50px;
    width: 200px;
    top:2px;
    padding-left: 0;
    
}
#navigation {
    width: 100%;
    height:80% ;
    background-color:white;
    float: left;
    display: flex;
    align-items: center;
    justify-content:flex-start ;
       
}
#navigation_list{
    list-style: none;
    text-align: center; /* Center the content horizontally */
    align-items: center;
   justify-content: space-between;
  
}
/* Style for list items*/
ul li {
    display: inline-block;
    margin-right: 30px;  
    
}
ul li a {
    text-decoration: none; /* Remove the default underline on links */
    color: #404042; /* Set link color to white */
    position: relative;
    font-size:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  
}

a:hover{
  border-bottom: 2px solid black; /* Only top border */;
}
#content {
    width: 100%;
    float: left;
    bottom: 0;
    height: 512px;
    
}
#home_image{
    width: 100%;
    height: 512px;
}
#image-container {
    position: relative;
    height: 200px;
    width:auto;
}

#image-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#search-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    top:90%;
    transform: translateX(-50%);
    width: 600px;
    height:40px;
    padding: 10px;
    box-sizing: border-box;
}
    .icon-search{
    position: absolute;
    left: 310px;
    top:187px;
    font-size: 1.2em;
    color: rgb(236, 233, 233);
    line-height: 30px;
}
/*
=============== 
About Us 
===============
*/
.about-page h2 {
    text-transform: none;
    font-weight: bold;
}
.about-page {
display: grid;
gap: 2rem 4rem;
padding-bottom: 3rem;
}
.about-img {
border-radius: var(--borderRadius);
height: 300px;
}
@media screen and (min-width: 992px) {
.about-page {
grid-template-columns: 1fr 1fr;
grid-template-rows: 400px;
align-items: center;
}
.about-img {
height: 100%;
}
}

.featured-title {
text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
h2{
    font-size: 2.441rem;
}
p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 40em;
  }
  
/*
=============== 
Page
===============
*/

.page {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
  }
  .page {
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
  }

  /*
=============== 
Navbar
===============
*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;   
  }
  .nav-center {
    width: 90vw;
    max-width: var(--max-width);
    
    
  }
  .nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    left: 0px;
    margin: 20px 2px 20px -50px ;
  }
  .nav-header img {
    width: 200px;
    
  }
  .nav-logo {
    display: flex;
    align-items: flex-end;
  }
  
  .nav-btn {
    padding: 0.15rem 0.75rem;
  }
  .nav-btn i {
    font-size: 1.25rem;
  }
  .nav-links {
    
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
   
  }
  .show-links {
    height: 23.9375rem;
    
  }
  
  .nav-link {
    display: block;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    text-decoration: none; /* Remove the default underline on links */
    color: #404042; /* Set link color to white */
    position: relative;
    font-size:40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .nav-link:hover {
    color: var(--primary-500);
  }
  
  .contact-link a {
  
    padding: 0.15rem 1rem;
  }
  
  @media screen and (min-width: 992px) {
    .navbar {
      height: 6rem;
    }
    .nav-center {
      display: flex;
      align-items: center;
    }
    .nav-header {
      padding: 0;
      margin-right: 2rem;
      height: auto;
    }
  
    .nav-btn {
      display: none;
    }
    .nav-links {
      height: auto !important;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
    .nav-link {
      padding: 0;
      border-top: none;
      margin-right: 1rem;
      font-size: 1rem;
    }
    .contact-link {
      margin-right: 0;
      margin-left:  auto;
    }
  }

  
  /*
=============== 
propeties
===============
*/

.content_property{
    display:flex;
    justify-content:space-evenly; 
    top: 400px; 
    gap:1rem;
    flex-wrap: wrap;
    flex: 11 calc(33.333%-1rem);
    overflow: hidden;

}
.home_p{
    /*background-color:rgb(212, 212, 220);*/
    width: 300px;
    height: 500px;
    border-top: 2px solid rgb(71, 68, 68); /* Only top border */
 
  }
.ptoperties_h1{
    text-align: center; /* Center align all text */ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}
.home_picture {
  
    width: 300px;
    height:250px;
    margin: 25px 1px 25px 1px;
    border-radius: 14px; /* Rounded corners */
    transition: filter 0.2s ease; /* Smooth transition */
  }
  .home_picture:hover {
    filter: blur(5px); /* Blur effect on hover */
    height:280px;
    width: 320px;
  }

  .properties_h2 {
    margin: -10px 0px 0px 55px;
    font-size: 1.2em; /* Adjust the font size */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
  }

  .properties_p {
    margin: 5px 10px;
    font-size: 0.9em; /* Adjust the font size */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
  }

