<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">  
        <input type="checkbox" name="check_m" id="check">
        <label class="open-menu" for="check"><i class="fa fa-bars" style="font-size:36px"></i></label>     
        <div><a href="/view/index.html" class="nav-logo">
            <img class="logo" src="/images/logo_welcome_home_edited.png" alt="logo">
        </a></div>
        <div class="menu">
            <ul class="nav-links">
                <li><a href="/view/index.html" class="nav-link"> Home </a></li>
                <li><a href="/view/About_Us.html" class="nav-link"> About Us </a></li>
                <li><a href="/view/Properties.html" class="nav-link"> Properties </a></li>
                <li><a href="/view/Contact_Us.html" class="nav-link"> Contact Us </a></li>
                
            </ul>
        </div>
            
    </nav>
    <main class="page">
        <section class="about-page">
            <article>
                <h2>About Us</h2>
                <p>
                    "Welcome to "welcome home", where we believe that finding the perfect home should be an exciting<br>
                     and seamless experience. As a dedicated team passionate about connecting people with their ideal<br>
                     living spaces, we strive to redefine the way you search for and secure rental properties.<br>
                     Our mission is to simplify the rental process, making it efficient, transparent, and tailored<br> 
                     to your unique needs. Whether you're a tenant in search of a cozy apartment or a homeowner looking to<br>
                     list your property, we are here to bridge the gap and create a platform that fosters trust, convenience,<br>
                     and satisfaction. At  "Welcome Home", we understand the importance of home, and we're committed to<br>
                     helping you find yours effortlessly. Join us in the journey to unlock the door to your dream home!"<br>
                </p>
            </article>
            <img src="/images/abut home.jpg" alt="family home"class="img about-img" />
        </section>
    </main>
</body>
</html>