<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Rent_House_Full_Stack_1/Style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-center">
            <div class="nav-header">
                <a href="/Rent_House_Full_Stack_1/view/index.html" class="nav-logo">
                    <img class="logo" src="/Rent_House_Full_Stack_1/images/logo_welcome_home_edited.png" alt="logo">
                </a>
                <button class="nav-btn btn">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>
            <div class="nav-links">
                <a href="/Rent_House_Full_Stack_1/view/index.html" class="nav-link"> Home </a>
                <a href="/Rent_House_Full_Stack_1/view/About_Us.html" class="nav-link"> About Us </a>
                <a href="/Rent_House_Full_Stack_1/view/Properties.html" class="nav-link"> Properties </a>
                <a href="/Rent_House_Full_Stack_1/view/Contact_Us.html" class="nav-link"> Contact Us </a>
            </div>
        </div>
    </nav>
</body>
</html>