<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <title>Document</title>
    <style>
        body {
          background-color: #fffef9e7; /* Creme color code */
        }
      </style>
</head>
<body>
    <nav class="navbar">
        <div class="nav-center">
            <div class="nav-header">
                <a href="/view/index.html" class="nav-logo">
                    <img class="logo" src="/images/logo_welcome_home_edited.png" alt="logo">
                </a>
                <button class="nav-btn btn">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>
            <div class="nav-links">
                <a href="/view/index.html" class="nav-link"> Home </a>
                <a href="/view/About_Us.html" class="nav-link"> About Us </a>
                <a href="/view/Properties.html" class="nav-link"> Properties </a>
                <a href="/view/Contact_Us.html" class="nav-link"> Contact Us </a>
            </div>
        </div>
    </nav>
    <h1 class="ptoperties_h1">penthouses</h1>
    <div class="penthouses_opthion">
        <div class="home_p">
          <img class="home_picture" src="/images/penthous/1/1008x627.jpg" alt="logo">
            <h2 class="properties_h2">San Francisco, CA</h2>
            <p class="properties_p">Private houses offer a
                personalized living
                experience, providing
                autonomy and privacy not
                found in apartments.</p>
        </div>
        <div class="home_p">
            <img class="home_picture" src="/images/penthous/2/1008x627.jpg" alt="logo">
              <h2 class="properties_h2">Los Angeles, CA</h2>
              <p class="properties_p">6 bed room | 4.5 bath | 1994 sqrft | price: 2830$</p>
          </div>
          <div class="home_p">
            <img class="home_picture" src="/images/penthous/3/3840x2880 (2).jpg" alt="logo">
              <h2 class="properties_h2">San Diego, CA</h2>
              <p class="properties_p">7 bed room | 3.5 bath | 1900 sqrft | price: 4830$</p>
          </div>
          <div class="home_p">
            <img class="home_picture" src="/images/penthous/4/1896x1262.jpg" alt="logo">
              <h2 class="properties_h2">Malibu, CA</h2>
              <p class="properties_p">7 bed room | 3.5 bath | 280 sqrft | price: 3830$</p>
          </div>
          <div class="home_p">
            <img class="home_picture" src="/images/penthous/5/1024x652.jpg" alt="logo">
              <h2 class="properties_h2">Hollywood, CA</h2>
              <p class="properties_p">6 bed room | 5.5 bath | 2000 sqrft | price: 2830$</p>
          </div>
          <div class="home_p">
            <img class="home_picture" src="/images/penthous/6/96x66.jpg" alt="logo">
              <h2 class="properties_h2">Sacramento, CA</h2>
              <p class="properties_p">6 bed room | 3.5 bath | 1844 sqrft | price: 2530$</p>
          </div>
        
    </div>
   
</body>
</html>