<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Rent_House_Full_Stack_1/Style/style.css">
    <title>penthous</title>
    <style>
        body {
          background-color: #fffef9e7; /* Creme color code */
        }
      </style>
</head>
<body>
    <nav class="navbar">
        <div class="nav-center">
            <div class="nav-header">
                <a href="/Rent_House_Full_Stack_1/view/index.html" class="nav-logo">
                    <img class="logo" src="/Rent_House_Full_Stack_1/images/logo_welcome_home_edited.png" alt="logo">
                </a>
                <button class="nav-btn btn">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>
            <div class="nav-links">
              <a href="/Rent_House_Full_Stack_1/view/index.html" class="nav-link"> Home </a>
              <a href="/Rent_House_Full_Stack_1/view/About_Us.html" class="nav-link"> About Us </a>
              <a href="/Rent_House_Full_Stack_1/view/Properties.html" class="nav-link"> Properties </a>
              <a href="/Rent_House_Full_Stack_1/view/Contact_Us.html" class="nav-link"> Contact Us </a>
            </div>
        </div>
    </nav>
    <h1 class="ptoperties_h1">penthouses</h1>
    <main class="page">
      <section  class="House-container">
        <div class="House-list">
        <a class="House" href="#">
          <img class="img house-img" src="/Rent_House_Full_Stack_1/images/penthous/1/1008x627.jpg" alt="logo">
            <h5 >San Francisco, CA</h5>
            <p >6 bed room | 4.5 bath | 1994 sqrft | price: 2830$</p>
            </a>

        <a class="House" href="#">

            <img class="img house-img" src="/Rent_House_Full_Stack_1/images/penthous/2/1008x627.jpg" alt="logo">
              <h5>Los Angeles, CA</h5>
              <p >6 bed room | 4.5 bath | 1994 sqrft | price: 2830$</p>
        </a class="House" href="#">
          <a class="House" href="#">
            <img class="img house-img" src="/Rent_House_Full_Stack_1/images/penthous/3/3840x2880 (2).jpg" alt="logo">
              <h5 >San Diego, CA</h5>
              <p >7 bed room | 3.5 bath | 1900 sqrft | price: 4830$</p>
          </a>
          <a class="House" href="#">
            <img class="img house-img" src="/Rent_House_Full_Stack_1/images/penthous/4/1896x1262.jpg" alt="logo">
              <h5 >Malibu, CA</h5>
              <p >7 bed room | 3.5 bath | 280 sqrft | price: 3830$</p>
          </a>
          <a class="House" href="#">
            <img class="img house-img" src="/Rent_House_Full_Stack_1/images/penthous/5/1024x652.jpg" alt="logo">
              <h5 >Hollywood, CA</h5>
              <p >6 bed room | 5.5 bath | 2000 sqrft | price: 2830$</p>
          </a>
          <a class="House" href="#">
            <img class="img house-img" src="/Rent_House_Full_Stack_1/images/penthous/6/96x66.jpg" alt="logo">
              <h5 class="">Sacramento, CA</h5>
              <p class="">6 bed room | 3.5 bath | 1844 sqrft | price: 2530$</p>
          </a>
          <a class="House" href="#">
            <img class="img house-img" src="/Rent_House_Full_Stack_1/images/penthous/6/96x66.jpg" alt="logo">
              <h5 >Sacramento, CA</h5>
              <p >6 bed room | 3.5 bath | 1844 sqrft | price: 2530$</p>
          </a>
          <a class="House" href="#">
            <img class="img house-img" src="/Rent_House_Full_Stack_1/images/penthous/6/96x66.jpg" alt="logo">
              <h5 >Sacramento, CA</h5>
              <p >6 bed room | 3.5 bath | 1844 sqrft | price: 2530$</p>
          </a>
       </div> 
    </section>
  </main> 
   
</body>
</html>